player-connection-mode=Listen
player-connection-guid=3553645385
player-connection-debug=0
player-connection-project-name=BathingPlayer
player-connection-ip=192.168.194.8
player-connection-ip=192.168.80.1
player-connection-ip=192.168.230.1
player-connection-ip=172.24.32.1
player-connection-ip=192.168.0.181
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=b23937a029ab44bba43305b5ce353d48
