player-connection-mode=Listen
player-connection-guid=1621891888
player-connection-debug=0
player-connection-project-name=BathingPlayer
player-connection-ip=128.84.52.247
player-connection-ip=172.19.0.1
player-connection-ip=172.17.0.1
player-connection-ip=172.18.0.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=0efbe44eeb174474b735eb1eeaaf8524
