player-connection-mode=Listen
player-connection-guid=3140077699
player-connection-debug=0
player-connection-project-name=BathingPlayer
player-connection-ip=192.168.194.8
player-connection-ip=192.168.80.1
player-connection-ip=192.168.230.1
player-connection-ip=2.0.0.1
player-connection-ip=172.23.240.1
player-connection-ip=10.48.185.248
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=26312fa70c77437cb907587bc683dda3
