player-connection-mode=Listen
player-connection-guid=724559449
player-connection-debug=0
player-connection-project-name=BathingPlayer
player-connection-ip=192.168.194.8
player-connection-ip=192.168.80.1
player-connection-ip=192.168.230.1
player-connection-ip=2.0.0.1
player-connection-ip=172.31.64.1
player-connection-ip=172.19.96.1
player-connection-ip=192.168.0.181
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=c4df25a11ca14119bd69057f42b61859
