player-connection-mode=Listen
player-connection-guid=2647463707
player-connection-debug=0
player-connection-project-name=DressingPlayer
player-connection-ip=192.168.194.8
player-connection-ip=192.168.80.1
player-connection-ip=192.168.230.1
player-connection-ip=172.27.32.1
player-connection-ip=10.48.50.68
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=1261f38f0bae4fe5be0280184892e4a5
