player-connection-mode=Listen
player-connection-guid=2430445624
player-connection-debug=0
player-connection-project-name=DressingPlayer
player-connection-ip=192.168.194.8
player-connection-ip=192.168.80.1
player-connection-ip=192.168.230.1
player-connection-ip=2.0.0.1
player-connection-ip=192.168.160.1
player-connection-ip=172.19.96.1
player-connection-ip=192.168.0.181
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=1fe194b3d0fc4093b57e1cd2d08d0e27
